{% extends "base.html" %}

{% block content %}
    <h1>
        Just to-do it list!
        <a class="btn btn-outline-dark" href="{% url 'list:task-create' %}">+</a>
    </h1>
    {% if task_list %}

        {% for task in task_list %}
            <h4>
                {{ task.content }}
                {% if task.is_done %}
                    <a class="btn btn-outline-danger" href="{% url 'list:task-done' pk=task.id %}">Undo</a>
                {% else %}
                    <a class="btn btn-outline-success" href="{% url 'list:task-done' pk=task.id %}">Complete</a>
                {% endif %}
            </h4>

            <p><strong>Created:</strong> {{ task.date }}</p>

            {% if task.deadline %}
                <p><strong>Deadline:</strong> {{ task.deadline }}</p>
            {% endif %}

            <p>
                <strong>Tags:</strong>
                {% for tag in task.tags.all %}{{ tag }}; {% endfor %}
            </p>
        {% endfor %}

    {% else %}
        <p>No tasks yet...</p>
    {% endif %}
{% endblock %}
